.about {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $mainDarkG;
  overflow: initial;

  &__content {
    padding: 140px 8vw 50px;
    overflow: initial;
  }

  &__main-title {
    color: $textDarkG;
    font-size: 10vw;
    font-family: "cond-cond",sans-serif ;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 10vw;

    &:nth-child(2){
      color: $mainLightG;   
    }
  }

  &--transition{
    margin-top: 120px;
    opacity: 1;
    animation: aboutTrans 1.5s ease .5s forwards;

    @keyframes aboutTrans {
      0% {
        margin-top: 120px;
        opacity: 0;
      }
      100% {
        margin-top: 40px;
        opacity: 1;
      }
    }
    
  }

  &__experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // margin-top: 40px;
    opacity: 0;

    &_title {
      color: $mainLightG;
      font-family: "cond-cond",sans-serif ;
      font-size: 24px;
      line-height: 30px;
    }
    
    &_item {
      margin-top: 30px;

      &:first-child{
        margin-top: 10px;
      }

      &-main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        color: $textDarkG;
        line-height: 22px;

        &-year{
          white-space: nowrap;
          width: 100px;
        }

        &-name{
          width: calc(100% - 100px);
          text-align: left;
        }
      }

      &-description{
        padding-top: 10px;
        font-size: 11px;
        line-height: 14px;
        padding-left: 40px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 200;
        text-align: right;
      }

      $percent: -7%;

      @for $i from 0 through 4 {
        &:nth-child(#{$i+1}) {
          .about__experience_item{
            &-main{
              color: scale-color($mainLightG, $lightness: $i*($percent));

              span{
                color: scale-color($mainLightG, $lightness: $i*($percent));
              }
            }

            &-description{
              color: scale-color($mainLightG, $lightness: $i*($percent));
            }
          }
        }
      }
    }
  }

  &__courses{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top:  30px;
    opacity: 0;

    &_title{
      color: $mainLightG;
      font-family: "cond-cond",sans-serif ;
      font-size: 24px;
      line-height: 30px;
    }

    &_item{
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: "Oswald", sans-serif;
      font-size: 24px;
      line-height: 30px;

      &:first-child{
        margin-top: 10px;
      }

      $percent1: -6%;

      @for $j from 0 through 5 {
        &:nth-child(#{$j + 1}) {
          color: scale-color($mainLightG, $lightness: $j*($percent1));
        }
      }

      &-year{
        width: 100px;
        font-size: 16px;
        line-height: 22px;
      }

      &-name{
        width: calc(100% - 100px);
        text-align: left;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__skills{
    opacity: 0;

    &_title{
      color: $mainLightG;
      font-family: "cond-cond",sans-serif ;
      font-size: 24px;
      line-height: 30px;
      margin-top: 30px;
    }

    &_container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-col{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &:first-child{
          padding-right: 10px;
        }
        &:last-child{
          padding-left: 10px;
        }
      }
    }

    &_item{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 16px;
      font-family: "Oswald", sans-serif;
      line-height: 20px;
      margin-top: 10px;

      &:first-child{
        margin-top: 10px;
      }

      &-naame{
        text-align: left;
      }


      $percent1: -2%;

      @for $j from 0 through 6 {
        &:nth-child(#{$j + 1}) {
          color: scale-color($mainLightG, $lightness: $j*($percent1));
        }
      }
    }
  }

  &__education{
    opacity: 0;

    &_title{
      color: $mainLightG;
      font-family: "cond-cond",sans-serif ;
      font-size: 24px;
      line-height: 30px;
      margin-top: 30px;
    }

    &_name{
      color: $mainLightG;
      font-family: "Oswald", sans-serif;
      font-size: 20px;
      line-height: 30px;
      margin-top: 8px;
    }

    &_description{
      color: $mainLightG;
      font-size: 16px;
      font-family: "Oswald", sans-serif;
      line-height: 22px;
      margin-top: 10px;

      &-university, &-faculty{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-first{
          width: 100px;
        }

        &-name{
          width: calc(100% - 100px);
        }
      }
    }
  }
}