.home {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // background-color: $mainLightG;

    &__title {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        font-family: "cond-cond",sans-serif ;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 100%;
        font-weight: 700;
        color: $textLightG;
        text-align: center;
        padding-top: 40px;
        position: relative;
        z-index: 1;
    }

    &__description {
        width: 100%;
        max-width: 400px;
        font-family: "Roboto Condensed", sans-serif;
        font-style: italic;
        font-size: 16px;
        font-weight: 300;
        color: $textLightG;
        margin-top: 10px;
        text-align: center;
        position: relative;
        z-index: 1;

        p{
            font-family: 'ibm-plex-sans';
        }
    }

    &__links{
        position: absolute;
        width: 100%;
        padding-top: 30px;
        height: calc(100vh - 30px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;

        @include mediumPlus{
            flex-direction: row;
            overflow: hidden;
        }

        &_link{
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: "cond-cond",sans-serif ;
            font-size: 16vw;
            letter-spacing: normal;
            line-height: 100%;
            font-weight: 700;
            transition: all .3s ease;
            color: $textLightG;

            @include medium {
                font-size: 13vw;
            }

            @include mediumPlus{
                font-size: 12vw;
                flex-direction: row;
                width: 40vw;
            }

            &-line{
                display: none;

                @include mediumPlus{
                    display: flex;
                    width: 10vw;
                    height: 1px;
                }
            }


            &:not(:first-child){

                @include mediumPlus{
                    padding-left: 10vw;
                }
            }

            //     &:before{
            //         content: "";
            //         position: relative;
            //         display: block;
            //         width: 80%;
            //         height: 1px;
            //         background-color: $textLightG;
            //         margin: 25px 0;

            //         @include mediumPlus{
            //             display: none;
            //         }
            //     }
            // }

            &--active {
                letter-spacing: .2rem;
                transition: all .3s ease;
            }
        }
    }

    .cursor {
        width:30px;
        height:30px;
        position:fixed;
        border-radius:50%;
        border: 2px solid red;
        top:50px;
        left:50px;
        z-index:500;
    }
}