*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    @mixin rePaint($bgCol, $textCol, $transitionDel){
        background-color: $bgCol;
        transition: background-color $transitionDel ease-in-out;

        .home{
            &__title {
                color: $textCol;
                transition: color $transitionDel ease-in-out;
            }

            &__description {
                color: $textCol;
                transition: color $transitionDel ease-in-out;
            }

            &__links{
                &_link{
                    color: $textCol;
                    transition: all $transitionDel ease-in-out;
                    &:not(:first-child){
                        &:before{
                            background-color: $textCol;
                            transition: background-color .2s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    
    &--green{
        @include rePaint($mainDarkG, $mainLightG, .3s);
    }

    &--black{
        @include rePaint($mainBlack, $mainRed, .3s);
    }

    &--red{
        @include rePaint($mainRed, $mainBlack, .3s);
    }
}

.fade-enter-active, .fade-leave-active{
    transition: all 1s
}
.fade-enter, .fade-leave-to{
    opacity: 0
}

