$textLightG: #acb1a1;
$textDarkG: #c2c3b7;
$whiteColor: #ffffff;
$mainRed: #f94444;
$mainDarkG: #929786;
$mainLightG: #f2efe8;
$mainBlack: #2c2a2a;

$verySmall: "(max-width: 475px)";
$small: "(max-width: 767px)";
$medium: "(min-width: 768px)";
$mediumPlus: "(min-width: 992px)";
$large: "(min-width: 1280px)";